.kiwi:hover {
    fill: #ace63c;
}

.w-title {
    text-align: center;
    font-size: 42px;
    margin: 0 auto;
    font-weight: bold;
    color: black;
}

.ground:hover {
    /*filter: url(#pictureFilter);*/
    fill: #896d3d;
}


/* ---------------- */

.background {
    fill: none;
    stroke: #444;
    stroke-width: 1;
    stroke-dasharray: 5, 5;
}

.control_point {
    fill-opacity: 0;
    stroke-opacity: 0;
    stroke: #888;
    stroke-width: 2;
    cursor: pointer;
}

#example_shape {
    stroke: #666;
    stroke-width: 2;
    fill: none;
}

.invisible {
    pointer-events: none;
}

.point2 {
    fill: #6495ED;
}

.point1 {
    fill: #28A86B;
}

.point1:hover {
    fill: #48B88B;
}


/* ---------------- */

.svg {
    display: block;
    height: 600px;
    width: 100%;
    background-color: gray;
}

.svgElement:hover {
    fill: #faff8a;
}

.phrase {
    position: absolute;
    font-size: 26px;
    font-weight: bold;
    color: white;
}

button.btn-create {
    padding: 20px;
    margin: 5px;
    width: 140px;
    border: none;
    font-size: 23px;
    /*outline: none;*/
    color: white;
    background-color: black;
    cursor: pointer;
}

button.btn-create-obj {
    padding: 15px;
    margin: 5px;
    width: 80px;
    border: none;
    font-size: 28px;
    /*outline: none;*/
    color: black;
    background-color: gray;
    border: 2px solid black;
    cursor: pointer;
}

.btn-create:hover {
    background-color: gray;
}

.btn-create-obj:hover {
    background-color: white;
}

.btn-create:focus {
    background-color: cornflowerblue;
}

.active {
    background-color: cornflowerblue;
}

.createMode {
    cursor: pointer;
}