.kiwi:hover {
    fill: #ace63c;
}

.w-title {
    text-align: center;
    font-size: 42px;
    margin: 0 auto;
    font-weight: bold;
    color: white;
}

.ground:hover {
    /*filter: url(#pictureFilter);*/
    fill: #896d3d;
}

.svg {
    display: block;
    height: 600px;
    width: 100%;
    background-color: gray;
}

.svgElement:hover {
    fill: #faff8a;
}

.phrase {
    position: absolute;
    font-size: 26px;
    font-weight: bold;
    color: white;
}

button.btn-create {
    padding: 20px;
    margin: 5px;
    width: 120px;
    border: none;
    font-size: 23px;
    /*outline: none;*/
    color: white;
    background-color: black;
    cursor: pointer;
}

button.btn-create-obj {
    padding: 20px;
    margin: 5px;
    width: 90px;
    border: none;
    font-size: 23px;
    /*outline: none;*/
    color: white;
    background-color: black;
    cursor: pointer;
}

.btn-create:hover {
    background-color: gray;
}

.btn-create-obj:hover {
    background-color: gray;
}

.btn-create:focus {
    background-color: cornflowerblue;
}

.active {
    background-color: cornflowerblue;
}

.createMode {
    cursor: pointer;
}